.root{
    width: 500px;
    
}

.root>*{
    width: 100%;
}

.btnContainer{
    display: flex;
    justify-content:center
}

.btnContainer>*{
    width: 100px;
    margin-left: 30px;
}

