<mat-form-field>
    <mat-label>填表时间：</mat-label>
    <input [(ngModel)]="createDate" matInput [matDatepicker]="picker" placeholder="不填写为当天">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <mat-label>编号</mat-label>
    <input matInput [value]="docNumber">
</mat-form-field>

<mat-form-field style="width: 400px;">
    <mat-label>调取单位</mat-label>
    <input matInput [matAutocomplete]=auto [formControl]="myControl" [(ngModel)]="company">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filterCompanys | async" [value]="option.label">{{option.label}}</mat-option>
    </mat-autocomplete>
</mat-form-field>

<div style="margin-bottom: 30px">
    <mat-form-field style="width: 100%;">
        <mat-label>证据内容</mat-label>
        <input #evidence matInput [(ngModel)]="evidenceContent" placeholder="账号查询只需填写账号，然后点击相应时间">
    </mat-form-field>
    <mat-label style="color: darkcyan;">{{evidenceContent2}}</mat-label>
</div>

<div class="baseDate">
    <mat-form-field>
        <mat-label>基准时间：</mat-label>
        <input [(ngModel)]="baseDate" matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-label *ngFor="let item of dateSelectList" (click)=onDateSelect(item)>{{item.label}}</mat-label>
</div>

<div id="print" [style.display]=isShowPrint>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="1150px" height="1622px">
        <rect x="173" y="143" fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" width="877.531" height="1275" />
        <rect x="179" y="148" fill="none" stroke="#000000" stroke-width="1.5" stroke-miterlimit="10" width="865.439" height="1263.939" />
        <line fill="none" stroke="#000000" stroke-width="1.5" stroke-miterlimit="10" x1="173" y1="115" x2="1044.439" y2="115" />
        <text transform="matrix(1 0 0 1 421 108)" font-family="'SimSun'" font-size="26">{{caseNumber}}</text>
        <text transform="matrix(1 0 0 1 424.0181 253)" font-family="'AdobeSongStd-Light-GBpc-EUC-H'" font-size="30" letter-spacing="13">{{unit}}</text>
        <text transform="matrix(1 0 0 1 396.5 312)" font-family="'SimHei'" font-size="44" letter-spacing="19">调取证据通知书</text>
        <text transform="matrix(1 0 0 1 521.5059 425)" font-family="'FangSong_GB2312'" font-size="30">{{unit_1}}（刑）调证字[{{year}}]{{docNumber}}号</text>
        <foreignObject x=186 y=500 width="845" height="900">
            <xhtml:div style="text-align: justify; font-family:FangSong_GB2312; font-size:30px; line-height:2em;width:100%">
                <p style="margin: 0;"><span style="padding-bottom: 5px;border-bottom:1px solid black">{{company}}:</span></p>
                <p style="margin:0; text-indent:2em">根据《中华人民共和国刑事诉讼法》第五十四条之规定，我局侦办的
                    <span style="padding-bottom: 5px;border-bottom:1px solid black">{{caseName}}</span>
                    需调取你处下列有关证据:
                    <span style="padding-bottom: 5px;border-bottom:1px solid black">{{evidenceContent2 ?evidenceContent2 :evidenceContent}}</span>
                </p>
                <p style="margin:0; text-indent:2em">伪造证据、隐匿证据或者毁灭证据的，将受法律追究。</p>
                <div style="position:relative;margin-top:50px">
                    <div style="text-align:right; font-family:FangSong_GB2312; font-size:30px;width:100%;">{{addDate}}</div>
                    <div style="text-align:right; width:100%; font-family:FangSong_GB2312; font-size:30px;">{{unit}}</div>
                    <img *ngIf="isSeal" src="assets/seal.png" width="220px" height="220px" style="position:absolute;right:0;top:-50px;"/>
                </div>
            </xhtml:div>
        </foreignObject>
        <text transform="matrix(1 0 0 1 228 1462)" font-family="'FangSong_GB2312'" font-size="30">此联交证据持有人</text>
    </svg>

</div>

<button #btnPrint ngxPrint printSectionId='print' style="display: none;">print</button>
