<div [ngStyle]="rootStyle">
    <mat-form-field>
        <mat-label>填表时间：</mat-label>
        <input [(ngModel)]="createDate" matInput [matDatepicker]="picker" placeholder="不填写为当天">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>编号</mat-label>
        <input matInput [value]="docNumber">
    </mat-form-field>

    <mat-form-field style="width: 400px;">
        <mat-label>调取单位</mat-label>
        <input matInput [matAutocomplete]=auto [formControl]="myControl" [(ngModel)]="company">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filterCompanys$ | async" [value]="option.label">{{option.label}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div style="margin-bottom: 30px">
        <mat-form-field style="width: 100%;">
            <mat-label>证据内容</mat-label>
            <textarea #evidence matInput cdkTextareaAutosize [(ngModel)]="evidenceContent" [formControl]="cardIDControl" placeholder="账号查询只需填写账号，然后点击相应时间" autocomplete='off'></textarea>
        </mat-form-field>
        <mat-label style="color: darkcyan;">{{evidenceContent2}}</mat-label>
    </div>

    <div class="baseDate">
        <mat-form-field>
            <mat-label>基准时间：</mat-label>
            <input [(ngModel)]="baseDate" matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-label *ngFor="let item of dateSelectList" (click)=onDateSelect(item)>{{item.label}}</mat-label>
    </div>
    <button #btnPrint ngxPrint printSectionId='print' style="display: none;">print</button>
</div>
<div class="table" id="print" [style.display]=isShowPrint>
    <div class="column" style="width: 1150px;height: 1622px;padding: 0 100px 0 180px;font-size: 30px; font-family: FangSong;">
        <div class="w100 flex1" style="min-height: 20px;max-height: 120px;"></div>
        <div class="w100 text-content" style="height: 40px;">{{caseNumber}}</div>
        <div class="w100 b4" style="height: 1275px;padding: 2px;">
            <div class="w100 h100 b2 column" style="padding-top: 70px;">
                <div class="column">
                    <span style="font-family: SimHei; font-size: 34px; letter-spacing: 8px; padding-bottom: 10px;">{{unit}}</span>
                    <span style="font-family: SimHei; font-size: 46px;letter-spacing: 15px;">调取证据通知书</span>
                </div>

                <div class="w100 right " style="height: 120px;padding-right: 70px;">{{unit_1}}（刑）调证字[{{year}}]{{docNumber}}号</div>

                <div class="w100 left" style="height: 120px;align-items: flex-end; padding-left: 5px;">
                    <span class="b-under">{{company}}:</span>
                </div>

                <div style="display: block;text-align: justify;width: 100%;text-indent: 2em;line-height: 2em;padding: 10px 10px 0 10px;">
                    根据《中华人民共和国刑事诉讼法》第五十四条之规定，我局侦办的
                    <span class="b-under">{{caseName}}</span>
                    需调取你处下列有关证据:
                    <span class="b-under" style="word-break: break-all;">{{evidenceContent2 ?evidenceContent2 :evidenceContent}}</span>
                    <p style="margin: 5px;">伪造证据、隐匿证据或者毁灭证据，将受法律追究。</p>
                </div>

                <div class="w100 right" style="line-height: 2em; padding-right: 20px;padding-top: 3em;position: relative;">
                    {{addDate}}<br>{{unit}}
                    <img src="assets/seal.png" width="220px" height="220px" style="position: absolute; top: 40px; left: 600px;" />
                </div>
                <div class="w100 flex1 " style="min-height: 30px;"></div>
            </div>
        </div>
        <div class="w100 left" style="padding: 10px 0 0 50px;">此联交证据持有人</div>
    </div>
</div>
