<div [ngStyle]="rootStyle">
    <div class="contactsDiv">
        <mat-form-field>
            <mat-label>填表时间：</mat-label>
            <input matInput [(ngModel)]="createDate" [matDatepicker]="picker" placeholder="不选择为当天日期">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>提请人：</mat-label>
            <input [(ngModel)]="requestUser" matInput [matAutocomplete]="autoUserName">
            <mat-autocomplete #autoUserName='matAutocomplete'>
                <mat-option *ngFor="let item of users" [value]=item.name>{{item.name}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
            <mat-label>联系电话：</mat-label>
            <input [(ngModel)]="userPhone" matInput [matAutocomplete]="autoUserPhone">
            <mat-autocomplete #autoUserPhone='matAutocomplete'>
                <mat-option *ngFor="let item of users" [value]=item.phoneNumber>{{item.phoneNumber}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>反馈方式：</mat-label>
            <input [(ngModel)]="feedbackWay" matInput [matAutocomplete]="autoFeedbackWay">
            <mat-autocomplete #autoFeedbackWay='matAutocomplete'>
                <mat-option *ngFor="let item of users" [value]=item.email>{{item.email}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <mat-form-field style="width: 100%;">
        <mat-label>查询理由：</mat-label>
        <textarea matInput [(ngModel)]="cause" cdkTextareaAutosize></textarea>
    </mat-form-field>

    <div class="numberDiv">
        <mat-form-field>
            <mat-label>号码1：</mat-label>
            <input matInput [(ngModel)]='number1'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>号码2：</mat-label>
            <input matInput [(ngModel)]='number2'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>号码3：</mat-label>
            <input matInput [(ngModel)]='number3'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>号码4：</mat-label>
            <input matInput [(ngModel)]='number4'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>号码5：</mat-label>
            <input matInput [(ngModel)]='number5'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>号码6：</mat-label>
            <input matInput [(ngModel)]='number6'>
        </mat-form-field>
    </div>
    <mat-checkbox [(ngModel)]="isManual">手动设置起止时间</mat-checkbox>
    <div *ngIf="isManual">
        <mat-form-field>
            <mat-label>起始时间：</mat-label>
            <input matInput [(ngModel)]="startDate" [matDatepicker]="startPicker">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>结束时间：</mat-label>
            <input matInput [(ngModel)]="endDate" [matDatepicker]="endPicker">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </div>
</div>

<div class="table" id="print" [style.display]='isShowPrint'>
    <div class="column text-normal" style="width: 1150px;height: 1622px;padding: 0 150px;">
        <div class="space"></div>
        <div class="left w100" style="height: 60px;font-family: SimHei;">编号：{{docNumber}}</div>
        <div class="w100 text-title" style="height: 84px;">提请公安机关技术侦察部门<br>数据查询审批表</div>
        <div class="w100 right p10">填表时间：{{createDate_china}}</div>
        <div class="w100" style="height: 50px;">
            <div class="h100 blt" style="width: 220px;">提请单位</div>
            <div class="h100 b bt" style="width: 300px;">{{unit}}</div>
            <div class="h100 b bt" style="width: 110px;;">提请人</div>
            <div class="h100 brt" style="flex: 1;">{{requestUser}}</div>
        </div>
        <div class="w100 row" style="height: 50px;">
            <div class="h100 bl" style="width: 220px;">联系电话</div>
            <div class="h100 b" style="width: 300px;">{{userPhone}}</div>
            <div class="h100 b" style="width: 110px;;">反馈方式</div>
            <div class="h100 br" style="flex: 1;">{{feedbackWay}}</div>
        </div>
        <!-- 查询事由 -->
        <div class="w100 row" style="min-height: 210px;">
            <div class="h100 bl" style="width: 50px;">查<br>询<br>事<br>由</div>
            <div class="h100 flex1 br text-content column" style="text-align: justify;text-indent: 2em;padding: 10px;justify-content:center;align-items: flex-start;">
                <div> 案件编号：{{caseNumber}}</div>
                <div> 案件名称：{{caseName}}</div>
                <div style="text-align: justify;text-indent: 2em;"> {{caseContent}}</div>
                <div style="text-align: justify;text-indent: 2em;"> {{cause}}</div>
            </div>

        </div>

        <div class="w100">
            <div class="h100 bl" style="width: 50px;">查<br>询<br>内<br>容</div>
            <div class="h100 column flex1">
                <div class="w100" style="height: 48px;">
                    <div class="h100 b" style="width: 168px;">查询目标</div>
                    <div class="h100 b" style="width: 300px;">查询数据类型</div>
                    <div class="h100 flex1 br">查询时间范围</div>
                </div>
                <div class="w100" style="height: 70px;">
                    <div class="h100 b text-little" style="width: 168px;"><span *ngIf="number1">{{number1}}</span></div>
                    <div class="h100 b text-little" style="width: 300px;">
                        <div *ngIf="number1">电信用户登记资料信息<br>电信用户通话记录信息<br>移动网警用户定位系统（LBS）信息</div>
                    </div>
                    <div class="h100 flex1 br text-little"><span *ngIf="number1" >{{duration}}</span></div>
                </div>
                <div class="w100" style="height: 70px;">
                    <div class="h100 b text-little" style="width: 168px;"><span  *ngIf="number2" >{{number2}}</span></div>
                    <div class="h100 b text-little text-little" style="width: 300px; ">
                        <div *ngIf="number2">电信用户登记资料信息<br>电信用户通话记录信息<br>移动网警用户定位系统（LBS）信息</div>
                    </div>
                    <div class="h100 flex1 br text-little"><span *ngIf="number2" >{{duration}}</span></div>
                </div>
                <div class="w100" style="height: 70px;">
                    <div class="h100 b text-little" style="width: 168px;"><span *ngIf="number3" >{{number3}}</span></div>
                    <div class="h100 b text-little" style="width: 300px; ">
                        <div *ngIf="number3">电信用户登记资料信息<br>电信用户通话记录信息<br>移动网警用户定位系统（LBS）信息</div>
                    </div>
                    <div class="h100 flex1 br text-little"><span *ngIf="number3">{{duration}}</span></div>
                </div>
                <div class="w100" style="height: 70px;">
                    <div class="h100 b text-little" style="width: 168px;"><span *ngIf="number4">{{number4}}</span></div>
                    <div class="h100 b text-little" style="width: 300px; ">
                        <div *ngIf="number4">电信用户登记资料信息<br>电信用户通话记录信息<br>移动网警用户定位系统（LBS）信息</div>
                    </div>
                    <div class="h100 flex1 br text-little"><span *ngIf="number4">{{duration}}</span></div>
                </div>
                <div class="w100" style="height: 70px;">
                    <div class="h100 b text-little" style="width: 168px;"><span *ngIf="number5">{{number5}}</span></div>
                    <div class="h100 b text-little" style="width: 300px; ">
                        <div *ngIf="number5">电信用户登记资料信息<br>电信用户通话记录信息<br>移动网警用户定位系统（LBS）信息</div>
                    </div>
                    <div class="h100 flex1 br text-little"><span *ngIf="number5">{{duration}}</span></div>
                </div>
                <div class="w100 " style="height: 70px;">
                    <div class="h100 b text-little" style="width: 168px;"><span *ngIf="number6">{{number6}}</span></div>
                    <div class="h100 b text-little" style="width: 300px; font-size: 12pt;">
                        <div *ngIf="number6">电信用户登记资料信息<br>电信用户通话记录信息<br>移动网警用户定位系统（LBS）信息</div>
                    </div>
                    <div class="h100 flex1 br text-little"><span *ngIf="number6">{{duration}}</span></div>
                </div>

                <div class="w100 br" style="height: 50px;">以上共{{upCount}}个查询目标（大写）</div>

            </div>
        </div>
        <div class="w100" style="height: 200px;">
            <div class="h100 bl" style="width: 50px;">审<br>核<br>意<br>见</div>
            <div class="h100 b" style="width: 330px; position: relative;">
                <div style="position: absolute; top:170px;left: 150px;">年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日
                </div>
                <img src="assets/xingjingdui.png" width="220px" height="220px" />
                <img src="assets/jianyichaxun.png" width="190px" height="190px"
                  style="position: absolute; top:0px;left: 100px;" />
                <img *ngIf="isSeal" [attr.src]=getYearImg(1,1) width="13px" height="26px" style="position: absolute; top:170px;left: 90px;" />
                <img *ngIf="isSeal" [attr.src]=getYearImg(2,1) width="13px" height="26px" style="position: absolute; top:170px;left: 102px;" />
                <img *ngIf="isSeal" [attr.src]=getYearImg(3,1) width="13px" height="26px" style="position: absolute; top:170px;left: 114px;" />
                <img *ngIf="isSeal" [attr.src]=getYearImg(4,1) width="13px" height="26px" style="position: absolute; top:170px;left: 126px;" />
                <img *ngIf="isSeal" [attr.src]=getMonthImg(1,1) width="13px" height="26px" style="position: absolute; top:170px;left: 186px;" />
                <img *ngIf="isSeal && isDoubleDigit_month()" [attr.src]=getMonthImg(2,1) width="13px" height="26px" style="position: absolute; top:170px;left: 198px;" />
                <img *ngIf="isSeal" [attr.src]=getDayImg(1,1) width="13px" height="26px" style="position: absolute; top:170px;left: 250px;" />
                <img *ngIf="isSeal && isDoubleDigit_day()" [attr.src]=getDayImg(2,1) width="13px" height="26px" style="position: absolute; top:170px;left: 262px;" />
            </div>
                <div class="h100 b" style="width: 50px;">审<br>批<br>意<br>见</div>
                <div class="h100 flex1 br" style="position: relative;">
                    <div style="position: absolute; top:170px;left: 150px;">年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日
                    </div>
                    <img src="assets/seal.png" width="220px" height="220px" style="position: absolute; top:0px;left: 100px;" />
                    <img src="assets/signal_ju.png" width="190px" height="190px" />
                    <img *ngIf="isSeal" [attr.src]=getYearImg(1,1) width="13px" height="26px" style="position: absolute; top:170px;left: 90px;" />
                    <img *ngIf="isSeal" [attr.src]=getYearImg(2,1) width="13px" height="26px" style="position: absolute; top:170px;left: 102px;" />
                    <img *ngIf="isSeal" [attr.src]=getYearImg(3,1) width="13px" height="26px" style="position: absolute; top:170px;left: 114px;" />
                    <img *ngIf="isSeal" [attr.src]=getYearImg(4,1) width="13px" height="26px" style="position: absolute; top:170px;left: 126px;" />
                    <img *ngIf="isSeal" [attr.src]=getMonthImg(1,1) width="13px" height="26px" style="position: absolute; top:170px;left: 186px;" />
                    <img *ngIf="isSeal && isDoubleDigit_month()" [attr.src]=getMonthImg(2,1) width="13px" height="26px" style="position: absolute; top:170px;left: 198px;" />
                    <img *ngIf="isSeal" [attr.src]=getDayImg(1,1) width="13px" height="26px" style="position: absolute; top:170px;left: 250px;" />
                    <img *ngIf="isSeal && isDoubleDigit_day()" [attr.src]=getDayImg(2,1) width="13px" height="26px" style="position: absolute; top:170px;left: 262px;" />
                </div>
                </div>
                <div class="w100" style="height: 70px;">
                    <div class="h100 blb" style="width: 50px;">备注</div>
                    <div class="h100 flex1 brb"></div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <button #btnPrint ngxPrint printSectionId='print' style="display: none;">print</button>
