<div [ngStyle]=rootStyle>
    <div style="display: flex;">
        <mat-form-field>
            <mat-label>填表时间：</mat-label>
            <input matInput [(ngModel)]="(type && type=='2') ? createDate2 :createDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="width:200px;">
            <mat-label>编号：</mat-label>
            <input matInput [(ngModel)]="type&&type=='2' ? docNumber2:docNumber">
        </mat-form-field>

        <div *ngIf="!isNew" style="display: flex; align-items: center; margin: 0 20px;">
            <div *ngIf="!isUnfreeze">
                <button mat-flat-button (click)="onAddUnfreeze()">添加解除冻结手续</button>
            </div>
            <mat-radio-group *ngIf="isUnfreeze" [(ngModel)]="type">
                <mat-radio-button value=1 style="margin-right: 20px;">冻结</mat-radio-button>
                <mat-radio-button value=2>解冻</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <mat-form-field style="width: 400px;">
        <mat-label>银行名称：</mat-label>
        <input matInput [matAutocomplete]=autoCompany [formControl]="myControl" [(ngModel)]="company">
        <mat-autocomplete #autoCompany="matAutocomplete">
            <mat-option *ngFor="let option of filterCompanys | async" [value]="option.label">{{option.label}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <mat-label>类型（名称）：</mat-label>
        <input [(ngModel)]="moneyType" matInput [matAutocomplete]="autoMoneyType">
        <mat-autocomplete #autoMoneyType='matAutocomplete'>
            <mat-option *ngFor="let item of moneyTypes" [value]=item>{{item}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div>
        <mat-form-field style="width:300px;">
            <mat-label>户名或权利人：</mat-label>
            <input matInput [(ngModel)]='freezeName' autocomplete="off">
        </mat-form-field>

        <mat-form-field style="width: 45%;">
            <mat-label>账号：</mat-label>
            <input matInput [(ngModel)]='freezeNumber' [formControl]="cardIDFromtrol">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field style="width: 300px;">
            <mat-label>冻结数额（大，小写）：</mat-label>
            <input matInput [(ngModel)]='freezeMoney' placeholder="如果冻结指定数量，只填数字即可">
        </mat-form-field>

        <mat-form-field style="width: 45%;">
            <mat-label>其他：</mat-label>
            <input matInput [(ngModel)]='other'>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>冻结开始时间：</mat-label>
            <input matInput [(ngModel)]="startTime" [matDatepicker]="startPicker">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>冻结结束时间：</mat-label>
            <input matInput [(ngModel)]="endTime" [matDatepicker]="endPicker">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </div>
</div>

<div id="print" class="table" [style.display]=isShowPrint *ngIf="type=='1'">
    <div class="column" style="width: 1150px;height: 1622px;padding: 0 100px 0 180px;font-size: 30px; font-family: FangSong;">
        <div class="w100 flex1" style="min-height: 20px;max-height: 120px;"></div>
        <div class="w100 text-content" style="height: 40px;">{{caseNumber}}</div>
        <div class="w100 b4 column" style="height: 1275px;padding: 2px;">
            <div class="w100 h100 b2 column" style="padding-top: 70px;">
                <div class="column"><span
              style="font-family: SimHei; font-size: 34px; letter-spacing: 8px; padding-bottom: 10px;">{{unit}}</span>
                    <span style="font-family: SimHei; font-size: 46px;">协助冻结财产通知书</span></div>
                <div class="w100 right " style="height: 120px;padding-right: 70px;">{{unit_1}}（刑）冻财字〔{{getYear(this.createDate)}}〕{{docNumber}}号</div>
                <div class="w100 left" style="height: 70px;align-items: flex-end; padding-left: 5px;"><span
              class="b-under">{{company}}：</span></div>
                <div style="display: block;text-align: justify;width: 100%;text-indent: 2em;line-height: 1.5em;padding: 10px 10px 0 10px;">
                    根据《中华人民共和国刑事诉讼法》
                    <span class="b-under">第一百四十二条</span>
                    之规定，请予<span class="b-under">冻结</span>
                    犯罪嫌疑人的下列财产：
                </div>
                <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                    <div>类型（名称）</div>
                    <div class="b-under flex1 left" style="padding-left: 10px;">{{moneyType}}</div>
                </div>
                <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                    <div>所在机构</div>
                    <div class="b-under flex1 left" style="padding-left: 10px;">{{company}}</div>
                </div>
                <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                    <div>户名或权利人</div>
                    <div class="b-under flex1 left" style="padding-left: 10px;">{{freezeName}}</div>
                </div>
                <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                    <div>账号等号码</div>
                    <div class="b-under flex1 left" style="padding-left: 10px;">{{freezeNumber}}</div>
                </div>
                <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                    <div>冻结金额（大、小写）</div>
                    <div class="b-under flex1 left" style="padding-left: 10px;">{{freezeMoney2}}</div>
                </div>
                <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                    <div>其他</div>
                    <div class="b-under flex1 left" style="padding-left: 10px;">&nbsp;</div>
                </div>
                <div class="w100" style="text-indent: 2em;display: block; text-align: left; padding-top: 5px;line-height: 1.5em;">
                    冻结时间从
                    <span class="b-under" style="padding: 0 10px;">{{year_start}}</span>年
                    <span class="b-under" style="padding: 0 10px;">{{month_start}}</span>月
                    <span class="b-under" style="padding: 0 10px;">{{day_start}}</span>日起至
                    <span class="b-under" style="padding: 0 10px;">{{year_end}}</span>年
                    <span class="b-under" style="padding: 0 10px;">{{month_end}}</span>月
                    <span class="b-under" style="padding: 0 10px;">{{day_end}}</span>日止
                </div>

                <div class="w100 right" style="line-height: 2em; padding-right: 20px;padding-top: 3em;position: relative;">
                    {{createDate_chinese}}<br>{{unit}}
                    <img src="assets/seal.png" width="220px" height="220px" style="position: absolute; top: 40px; left: 600px;" />
                </div>
                    <div class="w100 flex1 " style="min-height: 30px;"></div>
                </div>
            </div>
            <div class="w100 left" style="padding: 10px 0 0 50px;">此联交协助单位</div>
            <div class="w100 flex1" style="min-height: 30px;"></div>
        </div>
    </div>

    <div id="print" class="table" [style.display]=isShowPrint *ngIf="type=='2'">
        <div class="column" style="width: 1150px;height: 1622px;padding: 0 100px 0 180px;font-size: 30px; font-family: FangSong;">
            <div class="w100 flex1" style="min-height: 20px;max-height: 120px;"></div>
            <div class="w100 text-content" style="height: 40px;">{{caseNumber}}</div>
            <div class="w100 b4 column" style="height: 1275px;padding: 2px;">
                <div class="w100 h100 b2 column" style="padding-top: 70px;">
                    <div class="column"><span
              style="font-family: SimHei; font-size: 34px; letter-spacing: 8px; padding-bottom: 10px;">{{unit}}</span>
                        <span style="font-family: SimHei; font-size: 46px;">协助解除冻结财产通知书</span></div>
                    <div class="w100 right " style="height: 120px;padding-right: 70px;">{{unit_1}}（刑）解冻财字〔{{getYear(this.createDate2)}}〕{{docNumber2}}号</div>
                    <div class="w100 left" style="height: 70px;align-items: flex-end; padding-left: 5px;"><span
              class="b-under">{{company}}:</span></div>
                    <div style="display: block;text-align: justify;width: 100%;text-indent: 2em;line-height: 1.5em;padding: 10px 10px 0 10px;">
                        根据《中华人民共和国刑事诉讼法》第一百四十三条之规定，请予解除冻结犯罪嫌疑人
                        <span class="b-under">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        （性别<span class="b-under">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        出生日期<span class="b-under">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>）的下列财产：
                    </div>
                    <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                        <div>类型（名称）</div>
                        <div class="b-under flex1 left" style="padding-left: 10px;">{{moneyType}}</div>
                    </div>
                    <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                        <div>所在机构</div>
                        <div class="b-under flex1 left" style="padding-left: 10px;">{{company}}</div>
                    </div>
                    <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                        <div>户名或权利人</div>
                        <div class="b-under flex1 left" style="padding-left: 10px;">{{freezeName}}</div>
                    </div>
                    <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                        <div>账号等号码</div>
                        <div class="b-under flex1 left" style="padding-left: 10px;">{{freezeNumber}}</div>
                    </div>
                    <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                        <div>冻结金额（大、小写）</div>
                        <div class="b-under flex1 left" style="padding-left: 10px;">{{freezeMoney2}}</div>
                    </div>
                    <div class="w100 left" style="padding: 10px 5px 5px 2em ;">
                        <div>其他</div>
                        <div class="b-under flex1 left" style="padding-left: 10px;">&nbsp;</div>
                    </div>
                    <div class="w100" style="text-indent: 2em;display: block; text-align: left; padding-top: 5px;line-height: 1.5em;">
                        冻结时间从
                        <span class="b-under" style="padding: 0 10px;">{{year_start}}</span>年
                        <span class="b-under" style="padding: 0 10px;">{{month_start}}</span>月
                        <span class="b-under" style="padding: 0 10px;">{{day_start}}</span>日起至
                        <span class="b-under" style="padding: 0 10px;">{{year_end}}</span>年
                        <span class="b-under" style="padding: 0 10px;">{{month_end}}</span>月
                        <span class="b-under" style="padding: 0 10px;">{{day_end}}</span>日止
                    </div>

                    <div class="w100 right" style="line-height: 2em; padding-right: 20px;padding-top: 3em;position: relative;">
                        {{createDate_chinese}}<br>{{unit}}
                        <img src="assets/seal.png" width="220px" height="220px" style="position: absolute; top: 40px; left: 600px;" />
                </div>
                        <div class="w100 flex1 " style="min-height: 30px;"></div>
                    </div>
                </div>
                <div class="w100 left" style="padding: 10px 0 0 50px;">此联交协助单位</div>
                <div class="w100 flex1" style="min-height: 30px;"></div>
            </div>
        </div>
