<div class="root">
    <div class="left" ngResizable [rzHandles]="'e'">
        <app-records [type]=formType [caseList] = caseList (caseData) = getCaseData($event)></app-records>
    </div>
    <div class="right">
        <div class="formType">
            <mat-radio-group class="radio-group" [(ngModel)]="formType">
                <mat-radio-button class="radio-button" *ngFor="let type of formTypes" [value]="type" [checked]=true>
                    {{type}}
                </mat-radio-button>
            </mat-radio-group>
            <hr>
        </div>

        <div class="case">
            <mat-form-field style="width:35%">
                <mat-label>案件编号：</mat-label>
                <input [(ngModel)]="caseNumber" matInput>
            </mat-form-field>
            <mat-form-field style="width:50%">
                <mat-label>案件名称：</mat-label>
                <input matInput [(ngModel)]='caseName'>
            </mat-form-field>
            <button mat-button color='primary' (click)=onSaveCase()>保存案件</button>
            <mat-form-field style="width: 100%;">
                <mat-label>简要案情：</mat-label>
                <textarea matInput [(ngModel)]='caseContent' cdkTextareaAutosize></textarea>
            </mat-form-field>
        </div>

        <div class="formContent">
            <app-dzgj #dzgj *ngIf="formType =='电子轨迹'" [caseName]=caseName [caseNumber]=caseNumber [caseContent]=caseContent [isSeal] = isSeal></app-dzgj>
            <app-dqzj #dqzj *ngIf="formType =='调取证据'" [caseName]=caseName [caseNumber]=caseNumber [isSeal] = isSeal></app-dqzj>
        </div>

        <div class=btnContainer>
            <button mat-raised-button color='primary' (click)=onSave()>保存</button>
            <button mat-raised-button color='accent' (click)='onPrint()'>打印</button>
            <button mat-raised-button color='accent' (click)='onSaveImg()'>存图</button>
            <button mat-raised-button color='warn' (click)=onClear()>清除</button>
            <mat-checkbox [(ngModel)]="isSeal">使用印章</mat-checkbox>
        </div>

    </div>

</div>
