<mat-accordion displayMode="flat">
    <mat-expansion-panel *ngFor="let lawCase of caseList" (click)=onClickCase(lawCase) (dblclick)=onDblClick(lawCase)>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{lawCase.caseName}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <div *ngIf="state.label=='电子轨迹'">
                <div class="dzgjItem" *ngFor="let item of itemList" (click)="onItemClick(item);$event.stopPropagation();"> <span class= 'phoneTxt'>
                    {{item.desc}} </span>
                    <span class="createDate">{{item.createDate}}</span>
                    <div class="btnDel" (click)="onDelete(item);$event.stopPropagation();"></div>
                </div>
            </div>

            <div *ngIf="state.label=='调取证据'">
                <div class="dzgjItem" *ngFor="let item of itemList" (click)="onItemClick(item);$event.stopPropagation();">
                    <span class= 'phoneTxt'>{{item.evidenceContent}} </span>
                    <div class="btnDel" (click)="onDelete(item);$event.stopPropagation();"></div>
                </div>
            </div>
        </ng-template>

    </mat-expansion-panel>

</mat-accordion>
