<mat-accordion displayMode="flat">
    <mat-expansion-panel *ngFor="let lawCase of caseList" (click)=onClickCase(lawCase) (dblclick)=onDblClick(lawCase)>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{lawCase.caseName}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <div *ngIf="state.label=='电子轨迹'">
                <div class="item" *ngFor="let item of itemList" (click)="onItemClick(item);$event.stopPropagation();">
                    <div style="width: 100%;height: auto;">
                        <div class= 'item_txt'>{{item.desc}} </div>
                        <div class="createDate">{{item.createDate}}</div>
                    </div>
                    <div class="btnDel" (click)="onDelete(item);$event.stopPropagation();"></div>
                </div>
            </div>

            <div *ngIf="state.label=='调证通知书'">
                <div class="item" *ngFor="let item of itemList" (click)="onItemClick(item);$event.stopPropagation();">
                    <div class= 'item_txt'><span style="color: red;">{{item.docNumber}}</span>:{{item.desc}} </div>
                    <div class="btnDel" (click)="onDelete(item);$event.stopPropagation();"></div>
                </div>
            </div>

            <div *ngIf="state.label=='调证审批表'">
                <div class="item" *ngFor="let item of itemList" (click)="onItemClick(item);$event.stopPropagation();">
                    <div class= 'item_txt'>{{item.queryContent}} </div>
                    <div class="btnDel" (click)="onDelete(item);$event.stopPropagation();"></div>
                </div>
            </div>

            <div *ngIf="state.label=='冻结通知书'">
                <div class="item" *ngFor="let item of itemList" (click)="onItemClick(item);$event.stopPropagation();">
                    <div class= 'item_txt'><span [style.color]="item.docNumber2 ? 'green' : 'red'" >{{item.docNumber}}</span>：{{item.freezeName}}-{{item.freezeNumber}} </div>
                    <div class="btnDel" (click)="onDelete(item);$event.stopPropagation();"></div>
                </div>
            </div>

            <div *ngIf="state.label=='冻结审批表'">
                <div class="item" *ngFor="let item of itemList" (click)="onItemClick(item);$event.stopPropagation();">
                    <div class= 'item_txt'>{{item.freezeNumber}} </div>
                    <div class="btnDel" (click)="onDelete(item);$event.stopPropagation();"></div>
                </div>
            </div>

            <div *ngIf="state.label=='查询审批'">
                <div class="item" *ngFor="let item of itemList" (click)="onItemClick(item);$event.stopPropagation();">
                    <div class= 'item_txt'>{{item.needs}} </div>
                    <div class="btnDel" (click)="onDelete(item);$event.stopPropagation();"></div>
                </div>
            </div>

           

           
        </ng-template>

    </mat-expansion-panel>

</mat-accordion>
