/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'FangSong_GB2312';
    src: url('assets/FangSong_GB2312.woff2') format('woff2'),
        url('assets/FangSong_GB2312.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'FangSong_GB2312';
}
